.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0f172a;
  color: white;
}

.login-container form {
  background: #1e293b;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.login-container button {
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
