.sidebar {
  width: 240px;
  height: 100vh;
  background: #020617;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
  color: #38bdf8;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 10px;
}

.sidebar ul li:hover {
  background: #1e293b;
}
